@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #c7190c;
}

.nav{
	background-color: #4caf50;
	height: 100px;
}

.nav ul{
	float: right;
	padding-top: 40px;
}

.nav li{
	display: inline;
	padding: 0 50px;
	font-size: 20px;
}

.Mau1{
	color: aliceblue;
}

.Mau2{
	color: aliceblue;
	padding-top: 14%;
	font-size: 100px;
}

.Mau3{
	color: aliceblue;
	font-size: 25px;
}

.nav img{
	float: left;
	padding-top: 10px;
}

.content, .footer{
	background-color: #929667;
	height: 500px;
	position: relative;
}

.content{
	background-image: url("astral-btlmTotalDramaMeeting.png");
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;
	height: 500px;
	text-align: center;
}

.about{
	font-size: 40px;
	margin-top: 2%;
	padding-bottom: 2%;
	color: white;
}

p{
	font-size: 20px;
	margin-top: 2%;
	color: white;
}



.shows{
	font-size: 40px;
	margin-top: 4%;
	padding-top: 2%;
	padding-bottom: 0%;
	color: white;
}

.noidung2 p{
	padding: 3% 0;
}

.itemanh{
	width: 20%;
	height: 100%;
}

.noidung1 img{
	height: 200px;
	width: 20%;
	position: relative;
}

.noidung2{
	background-color: #4caf50;
	position: relative;
	color: white;
	padding-top: 5%;
}

.bsthinhanh{
	text-align: center;
	margin-top: 20px;
    object-fit: cover;
}

.content{
	padding: 0 20%;
}

.about img{
	height: 400px;
	position: relative;
}

.chuale2ben{
	padding: 0 10%;
}

.kidshows{
	color:blue;
	font-size: 50px;
}

.adultshows{
	color:blue;
	font-size: 50px;
}

.noidung2 .kids{
	width: 50%;
	float: left;
	text-align: center;
	position: relative;
	font-size: 10px;
}

.noidung2 .kids img{
	height: 220px;
}

.noidung2 .adults img{
	height: 220px;
}

.noidung2 .adults{
	text-align:center;
	position: relative;
	font-size: 10px;
}

.noidung4 img{
	height: 270px;
	float: left;
}

.locationtitle{
	padding-top: 2%;
	color: white;
}

.noidung4 .location{
	position: relative;
}

.hourtitle{
	font-size: 30px;
	position: relative;
	
}

.hoursavail{
	position: relative;
	font-size: 20px;
	
}

.noidung4{
	height: 400px;
}

.noidung4 h4,h5{
	padding: 10px 0 0 20px;
	color: white;
}

.leftphoto{
	background-image: url("locationofcentralcoffee.png");
	background-size: cover;
	height: 300px;
	float: left;
	width: 400px;
}

.hour{
	width: 40%;
	float: right;
}

.footer{
	font-size: 25px;
	text-align: center;
}

input{
	padding: 1%;
	margin: 1%;
	border: none;
	border-bottom: 2px solid green;
	margin-bottom: 5%;
	background: transparent;
}

.checkbox{
	float: left;
}

.subscribe1{
	text-align:center;
	padding-bottom: 5%;
}

.noidung5{
	background-color: aqua;
}

.noidung6{
	text-align: center;
	margin-top: 5%;
	border: 2px solid white;
	width: 30%;
	background-color: white;
	margin: auto;
	padding-top:4%;
}

.subscribe2{
	background-color: green;
}