@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:SuperMario256;
	src: url("SuperMario256.ttf") format("truetype");
}

@font-face{
	font-family:HolidayInParis;
	src: url("HolidayInParis.ttf") format("truetype");
}

@font-face{
	font-family:Bubblegum;
	src: url("Bubblegum.ttf") format("truetype");
}

h1{
	font-family:SuperMario256;
}

h2{
	font-family:HolidayInParis;
}

h3{
	font-family:Bubblegum;
}

li{
	font-family:Bubblegum;
}